@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 15px;
  color:white;
  cursor: pointer;
  background-color: #1eec74;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #1eec74;
  color:black;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}
.headip{
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2.5rem;
  margin-left: 200px;
  margin-right: 200px;
  font-size:15px;
  color: #10221b;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.header.active {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  width: 200px;
  margin-left: 50px;
  margin-right: 30%;
}

.header .logo i {
  color: #219150;
}

.header .navbar a {
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #10221b;
}

.header .navbar a:hover {
  color: #219150;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #219150;
}

.header #menu-btn {
  display: none;
}

.home {
  padding: 0;
}

.home .box {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20rem 9%;
  margin-top: 8%;
}

.home .box.second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

}

.home .box .content {
  width: 50rem;
  padding-top: 20px;
}

.home .box .content span {
  font-size: 22px;
  color: white;
 
}

.home .box .content pr {
  font-size: 15px;
  color:white;
  padding-top: 1rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 2.5;
  color: white;
  font-size: 12px;
  padding: 1px;
}
.home .box .content .mouse-box{
  margin-left: 100%;
  width: 50px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #3bc452;
}

.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.category .box-container .box {
  text-align: center;
  padding: 1rem;
}

.category .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.category .box-container .box h3 {
  font-size: 2rem;
  color: black;
}

.category .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.about {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about .image img {
  width: 100%;
  box-shadow: 5px 5px 5px rgb(156, 158, 158);
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 5rem;
  color: black;
}

.about .content h4 {
  font-size: 2rem;
  color: black;
}

.about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.shop .slide {
  width: 240px;
  margin-left: 2.5rem;
  margin-right: 15px;
  background-color: #f7ecec;
  padding: 10px;
}

.shop .slide:hover .image .icons {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shop .slide .image {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.shop .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
}

.shop .slide .image .icons a {
  height:180px;
  width: 100%;
  line-height: 4.5rem;
  background:none;
  margin: 0 .2rem;
  font-size: 0px;
}

.shop .slide .image .icons a:hover {
  text-align: center;
  padding-top: 65px;
  font-size: 3rem;
  height:180px;
  width: 100%;
  color: #fff;
  background: #219150;
}

.shop .slide .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .slide .content h3 {
  font-size: 2rem;
  color: #10221b;
}

.shop .slide .content .price {
  padding: 1rem 0;
  padding-top: .5rem;
  font-size: 2rem;
  color: #219150;
}

.shop .slide .content .stars i {
  font-size: 1.7rem;
  color: #10221b;
}

.packages {
  background: #eee;
}




.blogs .slide {
  width: 350px;
  text-align: center;
  margin-left: 2rem;
  padding: 2rem;
}

.blogs .slide img {
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.blogs .slide h3 {
  font-size: 2rem;
  color: #030303;
}

.blogs .slide p {
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
  color: #10221b;
}
.blogs .slide .btr{
  background: none;
  font-size: 1.4rem;
}

/* Get in touch */

.clients{
  background-color: rgb(247, 229, 229);
}
.clients .silde {
  width: 250px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: center;
}

.clients .silde img {
  height: 12rem;
}


.contact{
  background-color: rgb(0, 255, 149);
  width: 100%;
  color: white;
}


.contact .message .m1{
  border: 2px solid #10221b;
  background-color: rgb(0, 255, 149);
  border-radius: 10px;
  margin-left: 20px;
  padding: 1rem 13rem 1rem 2rem;
}

.contact .m2{
  border: 2px solid #10221b;
  background-color: rgb(0, 255, 149);
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 20px;
  padding: 1rem 80rem 20rem 2rem;
}
.btd{
  margin-top: 1rem;
  margin-left: 40%;
  display: inline-block;
  border-radius: 15px;
  color:white;
  cursor: pointer;
  background-color: #1eec74;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}



.footer {
  background-color: white;
}

.footer .box-container {
  display: flex;
}

.footer .box-container .box img{
  padding: 1.5rem;
  padding-left: 5rem;
}
.footer .box-container .box h3 {
  font-size: 2rem;
  padding-left: 6rem;
  color: black;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: black;
  padding: 1rem;
  padding-left: 6rem;
}

.footer .box-container .box a i {
  color: #219150;
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: #219150;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 2rem;
  color: black;
}

.footer .credit span {
  width: 20px;
  color:black;
}
.em{
  margin-left: 2rem;
  border: 1px solid black;
  padding: 0.5rem 3.5rem 0.5rem 2rem;
  border-radius: 10px 0 0 10px;
}
.bsd{
  border: 1px solid black;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0 10px 10px 0;
  background-color: rgb(0, 255, 149);
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */